

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PointOfSaleLayout.cshtml";
}

<script src="~/AngularJS/angular.js"></script>
<script src="~/AngularJS/angular-local-storage.min.js"></script>
<script src="~/AngularJS/authInterceptorService.js"></script>
<script src="~/AngularJS/Customer.js"></script>
<div ng-app="customerApp">
    <div class="row" ng-controller="customerController">
        <div class="col-lg-12 mb-4">
            <button type="button" disabled class="btn btn-sm btn-outline-primary mb-1">Supplier List</button>
            <button type="button" ng-click="AddNew();" class="btn btn-sm btn-outline-primary mb-1">Add New</button>
            <!-- Simple Tables -->
            <div class="card">

                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="customer in CustomerList">
                                <td>{{customer.CustomerName}}</td>
                                <td>{{customer.CustomerPhone}}</td>
                                <td>{{customer.Status}}</td>

                                <td>
                                    <button type="button" ng-click="Edit(customer);" class="btn btn-sm btn-outline-primary mb-1">Edit</button>
                                    <button type="button" ng-click="Delete(customer);" class="btn btn-sm btn-outline-danger mb-1">Delete</button>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>