
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_PointOfSaleLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/AngularJS/angular.js"></script>
    <script src="~/AngularJS/angular-local-storage.min.js"></script>
    <script src="~/AngularJS/authInterceptorService.js"></script>
    <script src="~/AngularJS/change-password.js"></script>

</head>
<body class="main" ng-app="changePasswordApp">
    <div class="container-fluid" ng-controller="changePasswordController">
        <div class="paddingT50">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                </div>
                <div class="col-lg-4 col-lg-offset-4">
                    <div class="center heading1" style="color: #4BB543">
                        Change Password
                    </div>
                    <div class="form_Main">
                        <div class="form-group">
                            <label class="label1" for="email" style="margin-bottom: 0px; margin-top: 0px;">Old Password</label>
                            <input ng-model="Password.OldPassword" id="email"
                                   type="password" style="margin-bottom: 0px; margin-top: 0px;" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="label1" for="password" style="margin-bottom: 0px; margin-top: 0px;">New Password</label>
                            <input ng-model="Password.NewPassword" id="password"
                                   type="password" style="margin-bottom: 0px; margin-top: 0px;" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="label1" for="password" style="margin-bottom: 0px; margin-top: 0px;">Confirm Password</label>
                            <input ng-model="Password.ConfirmPassword" id="password"
                                   type="password" style="margin-bottom: 0px; margin-top: 0px;" class="form-control" />
                        </div>
                        <div class="form-group">
                            <div style="padding-top:10px;">
                                <input ng-click="ChangePassword()" ng-disabled="isProcessing || !Password.NewPassword || !Password.OldPassword || !Password.ConfirmPassword" style="margin-bottom: 0px; margin-top: 0px;"
                                       type="button" class="btn btn-block btn-success"
                                       value="{{SubmitBtnText}}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-4">
                </div>
            </div>
        </div>
    </div>
</body>
</html>


