
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PointOfSaleLayout.cshtml";
}
<script src="~/AngularJS/angular.js"></script>
<script src="~/AngularJS/angular-local-storage.min.js"></script>
<script src="~/AngularJS/authInterceptorService.js"></script>
<script src="~/AngularJS/product.js"></script>

<div ng-app="productApp">
    <div class="row" ng-controller="productController">
        <div class="col-md-12">
            <div class="card">
                <div class="row">
                    <div class="col-md-10">
                        @*<div class="card-header">
                                <button class="btn btn-success">Add New</button>
                            </div>*@
                    </div>
                    <div class="col-md-2">
                        <div class="card-header">
                            <button type="button" style="margin-left:25px;" class="btn btn-success">Add New</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>
                                    <select class="form-control" ng-model="ddlCategory" ng-options="item.CategoryName for item in CategoryList track by item.CategoryId ">
                                        <option value="">--Category--</option>
                                    </select>

                                </td>
                                <td>
                                    <input type="text" name="name" ng-model="productObj.ProductName" class="form-control" placeholder="Product Name" />

                                </td>
                                <td>
                                    <input type="text" name="name" ng-model="productObj.ProductNo" class="form-control" placeholder="Product No." />

                                </td>


                            </tr>
                            <tr>
                                <td>
                                    <input type="number" name="name" ng-model="productObj.OriginalPrice" class="form-control" placeholder="Price " />

                                </td>
                                <td>
                                    <input type="number" name="name" ng-model="productObj.MarkupPrice" class="form-control" placeholder="Markup Price " />

                                </td>

                                <td>
                                    <input type="text" name="name" ng-model="productObj.Description" class="form-control" placeholder="Description " />

                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <input type="number" name="name" ng-model="productObj.ProductQty" class="form-control" value="" />

                                </td>
                                <td>

                                    <input type="checkbox" ng-model="productObj.Status" name="vehicle1" value="Check">
                                    <label for="vehicle1"> IS Check</label><br>

                                </td>
                                <td class="text-right">

                                    <button class="btn btn-primary" ng-click="addProduct()">Add</button>

                                </td>

                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Product No</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Original Price</th>
                                        <th>Markup Price</th>
                                        <th>Product Qty</th>
                                        <th>Status</th>
                                        <th>Category Name</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="product in AddproductList">
                                        <td>{{product.ProductNo}}</td>
                                        <td>{{product.ProductName}}</td>
                                        <td>{{product.Description}}</td>
                                        <td>{{product.OriginalPrice}}</td>
                                        <td>{{product.MarkupPrice}}</td>
                                        <td>{{product.ProductQty}}</td>
                                        <td>{{product.Status}}</td>
                                        <td>{{product.CategoryId}}</td>
                                        <td>
                                            <a href="#" class="btn btn-sm btn-outline-danger mb-1" ng-click="removebtn(product)">Remove</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary" ng-click="ProductSave()">Save</button>
                        <button class="btn btn-primary" ng-click="resetProduct()">Reset</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th>Product No</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Original Price</th>
                                    <th>Markup Price</th>
                                    <th>Product Qty</th>
                                    <th>Status</th>
                                    <th>Category Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in productList">
                                    <td>{{product.ProductNo}}</td>
                                    <td>{{product.ProductName}}</td>
                                    <td>{{product.Description}}</td>
                                    <td>{{product.OriginalPrice}}</td>
                                    <td>{{product.MarkupPrice}}</td>
                                    <td>{{product.ProductQty}}</td>
                                    <td>{{product.Status}}</td>
                                    <td>{{product.CategoryName}}</td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-primary mb-1" ng-click="editProductBtn(product)">Edit</a>
                                        <a class="btn btn-sm btn-outline-danger mb-1" ng-click="Delete(product.ProductId)">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>



                </div>


            </div>

        </div>

    </div>
</div>

